<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Form to Add a New Cat</title>
 <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
  <link rel="stylesheet" href="/style/app.css">
</head>
<body>
<center>

<form action="/cats" method="post" class="pure-form">
<center>
  <p><b>New cat's Name:</b><BR>
  <input type="text" placeholder="Cat's name?" id="name" name="name"></p>
  <p><b>How many months old?</b><BR>
  <input type="text" placeholder="How many months old?" id="age" name="age"></p>
  <p></p>
  <input type="submit" class="pure-button pure-button-primary" value="Add cat">
<p></p>

</center>
</form>
</center>
</body>

</html>